* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: fixed;
  opacity: 0.9;
  background-color: #937e4ecc;
  width: 100%;
  height: 50px;
  z-index: 1000;
  padding-top: 10px;
  padding-left: 50px;
}
.right {
  position: absolute;
  right: 30px;
  top: 12px;
}
.left {
  position: absolute;
  left: 40px;
  top: 12px;
}
.house {
  font-size: x-large;
  cursor: pointer;
  transform: translate(-5px, 5px);
}
.search {
  font-size: large;
  cursor: pointer;
  transform: translate(-170px, 0px);
}
.header ul {
  display: inline-block;
  list-style: none;
  color: white;
}
.header ul li {
  cursor: pointer;
  float: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 50px;
}
input[type="text"] {
  height: 25px;
  border-radius: 15px;
  border: none;
  transform: translate(20px, -3px);
  padding-left: 30px;
}
.Home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/HomePhoto.jpg);
  background-size: cover;
}
.HomeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.HomeContent {
  text-align: center;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.HomeContent h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.HomeContent p {
  color: rgba(255, 255, 255, 0.803);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 13px 0;
  letter-spacing: 2px;
}
.HomeContent button {
  width: 150px;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.Homebtn2 {
  background-color: #f5e7c69b;
  margin-left: 15px;
}
.Homebtn1 {
  background-color: #937e4ecc;
}
.HomeContent button:hover {
  opacity: 0.8;
  transition: 0.8s;
}
.right li a {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
}
.right li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #e5ba41;
}
.right li a:hover::after {
  width: 100%;
  transition: 0.8s;
}
.Blogdiv {
  display: none;
  margin-top: 5px;
  position: absolute;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 10px;
  line-height: 30px;
  background-color: #f5e7c69b;
  width: 130px;
  height: 110px;
}
.right li:hover .Blogdiv {
  display: block;
}
/* ///// Welcome Section //// */
.Welcome {
  width: 100%;
  background-color: #f4f1ee;
  height: 100vh;
  padding-top: 100px;
}
.Welcome .hd {
  color: rgba(166, 122, 39, 0.763);
}
.titleW {
  margin: auto;
  margin-bottom: 65px;
  text-align: center;
}
.line {
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 12px auto;
}
.container {
  width: 1377px;
  margin: 0 auto;
  overflow: hidden;
}
.box {
  width: 350px;
  height: 250px;
  background-color: #ffe59c49;
  border: 1px solid rgba(255, 217, 0, 0.241);
  border-radius: 25px;
  float: left;
  text-align: center;
  position: relative;
  float: left;
  margin: 0 54.5px;
  padding-top: 7px;
}
.box:hover h2 {
  color: #4a4431dd;
  transition: 0.5s;
}
.box:hover .para {
  color: rgb(177, 129, 92);
  transition: 0.5s;
}
.box::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(255, 217, 0, 0.507);
  opacity: 0.2;
  border-radius: 25px;
  z-index: 0;
}
.box:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.8s;
  opacity: 0.7;
}
.para {
  text-align: center;
  margin-top: 10px;
  color: #e5b9419d;
  font-size: 18px;
  line-height: 35px;
}
.readB {
  color: #b08e6b;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.hd,
.hdt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  color: #e5ba41;
}
.ic {
  font-size: 30px;
  color: #b08e6b;
}
/* Featured Section  */
.Featured {
  width: 100%;
  background-color: #fbf0e5;
  padding-top: 100px;
  height: 100vh;
}
.gallery {
  width: 320px;
  height: 200px;
  float: left;
  margin: 0 20px 30px 20px;
  background: #ddd;
  border-radius: 15px;
}
.gallery-wrapper {
  width: 1080px;
  margin: auto;
  overflow: hidden;
}
.container2 {
  width: 1140px;
  margin: auto;
  overflow: hidden;
}
.image1 {
  background-image: url(../images/image1.jpg);
  background-size: cover;
}
.image2 {
  background-image: url(../images/image2.jpg);
  background-size: cover;
}
.image3 {
  background-image: url(../images/image3.jpg);
  background-size: cover;
}
.image4 {
  background-image: url(../images/image4.jpg);
  background-size: cover;
}
.image5 {
  background-image: url(../images/image5.jpg);
  background-size: cover;
}
.image6 {
  background-image: url(../images/image6.jpg);
  background-size: cover;
}
.hoverG {
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e5ba41;
  border-radius: 15px;
  padding-top: 5px;
}
.gallery:hover .hoverG {
  visibility: visible;
}
.galleryP {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 22px;
  color: #b19852;
}
.ss {
  font-size: 35px;
  margin: 10px;
  cursor: pointer;
}
.HoverH2 {
  text-transform: uppercase;
}
/* what we offer Section  */
.WhatOffer {
  margin: auto;
  width: 100%;
  background-color: #fafafa;
  padding-top: 100px;
  height: 100vh;
}
.container3 {
  width: 90%;
  margin: auto;
}
.WHATOFbox {
  margin: 20px 30px;
  width: 300px;
  float: left;
  height: 200px;
  border: solid 2px #b89b7a4c;
  border-radius: 15px;
  text-align: left;
  position: relative;
  padding: 20px;
}
.wrapper {
  width: 1080px;
  margin: auto;
  overflow: hidden;
}
.WHATOFbox .iconwrapper i {
  font-size: 30px;
  color: #b89b7a;
}
.textwrapper {
  margin-left: 50px;
}
.WhatOfferH2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d2a679;
}
.WhatOfferP {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #bfa37a;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
}
.iconwrapper {
  float: left;
  width: 40px;
}
.WHATOFbox::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: #c6a47e;
  opacity: 0.2;
  border-radius: 15px;
}
.WHATOFbox:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  opacity: 0.7;
  color: black;
}
.WHATOFbox:hover .WhatOfferH2 {
  color: #e5ba41;
  transition: 0.5s;
}
.WHATOFbox:hover .WhatOfferP {
  color: rgb(80, 80, 80);
  transition: 0.5s;
}
/* WHY CHOOSE US */
.WHYCHOOSEUS {
  margin: auto;
  width: 100%;
  background-color: #fafafa;
  padding-top: 50px;
  height: 100vh;
}
.container4 {
  height: 100vh;
  overflow: auto;
  margin-top: 90px;
}
.leftside {
  width: 50%;
  float: left;
  margin-left: 10%;
}
.lists {
  list-style: none;
  line-height: 50px;
  font-size: 18px;
  color: #bfa37a;
  text-decoration: underline;
}
.lefthead {
  margin-bottom: 8px;
  font-size: 25px;
}
.hrleft {
  width: 50px;
  height: 4px;
  background-color: #000;
  margin-bottom: 30px;
  margin-left: 5px;
}
.leftP {
  color: #e3b570db;
  margin-bottom: 25px;
}
.rightside {
  width: 40%;
  float: right;
  text-align: center;
}
.rightlists {
  list-style: none;
}
.rightlists li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px 5px;
  display: inline-block;
  background-color: rgb(174, 174, 175);
}
li.active {
  background-color: #e5ba41;
}
li.active1:hover {
  background-color: #e5ba41;
  transition: 0.5s;
  cursor: pointer;
}
li.Show:hover {
  background-color: #e5ba41;
  transition: 0.5s;
  width: 70%;
}
/* Awards */
.Awards {
  width: 100%;
  height: 400px;
  background-image: url(../images/image8.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.container5 {
  padding-top: 150px;
  position: relative;
  z-index: 1;
}
.icnosbox {
  width: 80%;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.ICTEXT {
  width: 25%;
  float: left;
  color: white;
  margin: auto;
}
.txtic {
  font-size: 50px;
  color: #fed5a6;
  margin-bottom: 8px;
  margin-left: -10px;
}
.txtic3 {
  font-size: 50px;
  color: #fed5a6;
  margin-bottom: 8px;
  margin-left: 6px;
}
.Awards::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.ICTEXT:hover {
  color: #fed5a6;
  transition: 0.3s;
}
/* PRICING SECTION */
.Pricing {
  width: 100%;
  height: 100vh;
  background-color: #fbf0e5;
  padding-top: 100px;
}
.container6 {
  width: 100%;
  margin: auto;
}
.pricewrapper {
  width: 1230px;
  margin: auto;
  overflow: hidden;
}
.price {
  background-color: #fff6ec;
  float: left;
  margin: 0 30px;
  width: 350px;
  height: 400px;
  border: 2px solid #d8c7b2;
  border-radius: 15px;
  position: relative;
  text-align: center;
  padding-top: 25px;
}
.price::after {
  position: absolute;
  content: "";
  height: 0;
  top: 0;
  left: 0;
  background-color: #fff6ec;
  opacity: 0.2;
  border-radius: 15px;
  z-index: 1;
}
.price:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  opacity: 0.7;
  background-color: #ffc40043;
}
.price:hover h3 {
  color: #c9b369;
  transition: 0.5s;
}
.price:hover .innerCircle {
  outline-color: #ff88004c;
  border: 2px solid #000000;
}
.innerCircle {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-top: 15px;
  padding-top: 25px;
  outline-offset: 1px;
  outline-color: #000000;
  outline-style: solid;
  outline-width: 1px;
  background-color: #c9a24d42;
  border: 2px solid #c9a24d;
}
.PricingLIST {
  color: #7a736b;
  list-style: none;
  margin-top: 10px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
}
.PricingBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #937e4ecc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}
.price .PricingBtn {
  position: relative;
  z-index: 2;
}
.PricingBtn:hover {
  opacity: 0.8;
  transition: 0.8s;
  cursor: pointer;
}
.price h3 {
  color: #e5ba41;
}
/* Profiles section */
.Profiles {
  width: 100%;
  height: 400px;
  background-image: url(../images/image9.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.container7 {
  width: 100%;
  margin: auto;
}
.ProfilesBox {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  overflow: hidden;
}
.leftprofile {
  width: 40%;
  float: left;
}
.rightprofile {
  width: 40%;
  float: right;
}
.profcontainer {
  position: relative;
  padding-left: 130px;
  padding-top: 20px;
}
.ph {
  position: absolute;
  left: 60px;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.hhh {
  color: #f5f1ea;
  margin: 0 0 5px 30px;
  font-size: 22px;
}
.role {
  color: #d49f4be9;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
}
.profcontainer p {
  color: #e6e1d9;
  line-height: 1.6;
  font-size: 15px;
  margin-top: 20px;
  margin-left: -70px;
}
.hhh,
.role,
.profcontainer p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.ph {
  border: 3px solid #e6c27a;
}
/* our team section */
.OURTEAM {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: #fafafa;
}
.OURTEAM h2 {
  color: #e5ba41;
}

.lineO {
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: -60px auto 0;
}
.container8 {
  padding-top: 100px;
  margin: auto;
  width: 90%;
}
.teamBox1 {
  background-color: #f6efe7;
  float: left;
  width: 30%;
  text-align: center;
  padding: 18px 14px;
  border-radius: 10px;
  position: relative;
  margin: 0 1.5%;
}
.teamimage {
  width: 85%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.teamimage img {
  width: 100%;
}
.teamOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 1s;
  z-index: 3;

}
.teamBox1:hover .teamOverlay {
  opacity: 0.7;
}
.teamOverlay a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7a736b;
  color: #b19852;
  font-size: 21px;
  margin: 10px 10px 0 auto;
  border-radius: 5px;
}
.teamOverlay a:hover {
  background-color: #c9a24d;
  color: #fff;
}
.teamOverlay a i {
  line-height: 40px;
}
.teamh2 {
  font-size: 20px;
  margin-top: 15px;
  color: #3a2e25;
}
.teampara {
  font-size: 15px;
  line-height: 1.6;
  color: #7a736b;
}
.teamBox1:hover .teamh2 {
  color: #b89b7a;
}
.teamBox1:hover .teampara {
  color: #b89b7a83;
}
.teamBox1::after {
  position: absolute;
  content: "";
  height: 0;
  top: 0;
  left: 0;
  background-color: #fff6ec;
  opacity: 0.7;
  border-radius: 15px;
  z-index: 1;
}
.teamBox1:hover::after {
  width: 100%;
  height: 100%;
  transition: 1.5s;
  opacity: 0.7;
  background-color: rgba(201, 162, 77, 0.25);
}
/* RecentNews SECTION */
.RecentNews {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #fafafa;
}
.container9 {
  margin: auto;
  width: 80%;
}
.FIRST-EMP {
  background-color: #fff6ec;
  float: left;
  width: 30%;
  text-align: center;
  padding: 22px 18px;
  border-radius: 14px;
  position: relative;
  margin: 0 1.5%;
  border: 1px solid rgba(201, 162, 77, 0.35);
}
.EMPimage {
  width: 85%;
  margin: auto;
}
.EMPimage img {
  width: 100%;
  border-radius: 8px;
}
.EMPOverlay {
  width: 100%;
  margin: 15px 0;
}
.EMPh2 {
  font-size: 22px;
  color: #7a736b;
  margin: 15px 0;
}
.EMPpara {
  font-size: 15px;
  line-height: 1.6;
  color: #7a736b;
  padding-top: 10px;
  margin-bottom: 18px;
}
.EMPICON {
 margin-right: 2px;
  font-size: 17px;
  color: #b89b7a;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
.EMPICON:hover {
  color: #c9a24d;
}
.FIRST-EMP:hover h2 {
  color: #b89b7a;
}
.FIRST-EMP:hover .EMPpara {
  color: #b89b7a83;
}
.FIRST-EMP::after {
  position: absolute;
  content: "";
  height: 0;
  top: 0;
  left: 0;
  background-color: #fff6ec;
  opacity: 0.7;
  border-radius: 15px;
  z-index: 0;
}
.FIRST-EMP:hover::after {
  width: 100%;
  height: 100%;
  transition: 0.8s;
  opacity: 0.4;
  background-color: rgba(201, 162, 77, 0.25);
}
.FIRST-EMP button {
  background-color: white;
  color: #b89b7a;
  border: 1.5px solid #c9a24d;
  padding: 8px 22px;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  z-index: 2;
}
.FIRST-EMP button:hover {
  background-color: rgba(201, 162, 77, 0.25);
  color: #7a736b;
  border-color: #b19852;
}
.FIRST-EMP button:hover {
  transform: translateY(-2px);
}
.container9 .line {
  background-color: #000;
}
.specs li{
  display: inline-block;
  list-style: none;
  font-size: large;
  margin-right: 15px;
  color: #b08e6b;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* footer section */
.footer {
  width: 100%;
  background-color: #b198526e;
  padding: 30px 0;
}
.content-footer {
  margin: auto;
  width: 40%;
  text-align: center;
}
.imgfoot img {
  display: block;
  margin: auto;
  border-radius: 12px;
}
.SocialMedia {
  margin: 20px 0;
}
.SocialMedia ul {
  list-style: none;
  padding: 0;
  margin: auto;
}
.SocialMedia ul li {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff6ec;
  margin: 0 6px;
  position: relative;
}
.SocialMedia ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b89b7a;
  transition: 0.3s;
  font-size: 35px;
}
.SocialMedia ul li:hover {
  background-color: rgba(201, 162, 77, 0.25);
}
.SocialMedia ul li:hover a {
  color: #c9a24d;
}
.footer p {
  font-size: 14px;
  color: #7a736b;
  margin-top: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}
